* {
  margin: 0;
  padding: 0;
}
body { 
  background: #009688;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", Arial;
}
.slider {
  margin-top: 10px;
  width: 300px;
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  opacity: 0.9;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}
h1, p, svg {
  padding: 8px 5px;
}
svg {
  fill: black;
  width: 100px;
  height: 100px;
}
path.led {
  fill: yellow;
}